.footer {
  padding: 30px 15px;
  text-align: center;
  &-socials {
    margin-bottom: 30px;
    a {
      text-decoration: none;
      margin-right: 30px;
      opacity: 0.3;
      transition: opacity .2s ease-out;
      &:hover {
        opacity: 0.5;
      }
      &:last-child {
        margin-right: 0;
      }
      svg {
        height: 16px;
      }
    }
  }
  p {
    opacity: 0.3;
    color: #000000;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    a {
      color: #540cfa;
    }
  }
}